TEAM_MEMBERS="Aecio, Bonnie, Shums Kassam, Nicholas, Karl, Jorawar"

# Domain (used in email invites)
# Note: do no include "/" at end of url (ie http://gmail.com))
DOMAIN= 

# Database
DB_URI=
TEST_DB_URI=

# SendGrid
SENDGRID_API_KEY=

# Misc
NODE_ENV=
PORT=
SECRET_KEY=